<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YK Pao School Utilities Home</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1>YK Pao School Utilities Home</h1>
	</header>
	<article>
		<p>Hello! This site hosts some of <a href="//runxiyu.org">Runxi Yu</a>'s services related to life at YK Pao School.</p>
		<h2>For Regular Students</h2>
		<ul>
			<li><a href="/sjdb/">Songjiang Daily Bulletin</a></li>
			<li><a href="//powermentor.andrewyu.org">PowerMentor for Peer Pao</a></li>
		</ul>
		<h2>For Developers and Technical Users</h2>
		<ul>
			<li><a href="//git.runxiyu.org/ykps/current/sjdb-src.git">Daily Bulletin Build System</a> (<a href="//git.sr.ht/~runxiyu/sjdb-src">sr.ht mirror</a>)</li>
			<li><a href="//git.runxiyu.org/ykps/current/sjdb-legacy.git">Daily Bulletin Legacy</a> (<a href="//git.sr.ht/~runxiyu/sjdb-legacy">sr.ht mirror</a>)</li>
			<li><a href="//todo.sr.ht/~runxiyu/sjdb">Daily Bulletin Issue Tracker</a></li>
			<li><a href="//lists.sr.ht/~runxiyu/sjdb">Daily Bulletin Mailing List</a></li>
			<li><a href="//lists.sr.ht/~runxiyu/ykps">General Utilities Mailing List</a></li>
			<li><a href="//ykps.runxiyu.org">Utilities WSGI Site</a> (<a href="//git.runxiyu.org/ykps/current/ykps-wsgi.git">repo</a>/<a href="//git.sr.ht/~runxiyu/ykps-wsgi">sr.ht mirror</a>)</li>
			<li><a href="//powermentor.andrewyu.org">PowerMentor</a> (<a href="//git.runxiyu.org/ykps/current/mentorweb.git">repo</a>/<a href="//git.sr.ht/~runxiyu/mentorweb">sr.ht mirror</a>)</li>
			<li><a href="//git.runxiyu.org/runxiyu/current/tooch.git">Userspace Utilities and Resources</a> (<a href="//git.sr.ht/~runxiyu/tooch">sr.ht mirror</a>)</li>
		</ul>
	</article>
</body>
</html>
