<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YKPS Utilities Home</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1>YKPS Utilities Home</h1>
	</header>
	<article>
		<p>Hello! This site hosts some of <a href="https://runxiyu.org">Runxi Yu</a>'s services related to life at YK Pao School.</p>
		<ul>
			<li><a href="/sjdb/">YK Pao School Songjiang Daily Bulletin</a></li>
		</ul>
	</article>
</body>
</html>
