{# SPDX-License-Identifier: CC-BY-SA-4.0 #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YK Pao School Utilities Home</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1>YK Pao School Utilities Home</h1>
	</header>
	<article>
		<p>Hello! This site hosts some of <a href="//runxiyu.org">Runxi Yu</a>'s services related to life at YK Pao School.</p>
		<h2>For Regular Students</h2>
		<ul>
			<li><a href="/sjdb/">Songjiang Daily Bulletin</a></li>
			<li><a href="//powermentor.andrewyu.org">PowerMentor for Peer Pao</a></li>
		</ul>
		<h2>For Developers and Technical Users</h2>
		<ul>
			<li><a href="//lists.sr.ht/~runxiyu/ykps">General project mailing list</a></li>
			<li><a href="//git.runxiyu.org/ykps/current/ykps-wsgi.git">Source for this WSGI site</a> (<a href="//git.sr.ht/~runxiyu/ykps-wsgi">sr.ht mirror</a>)</li>
			<li><a href="//git.runxiyu.org/ykps/current/ykps-gohttp.git">Attempt to rewrite this site in Go</a> (<a href="//git.sr.ht/~runxiyu/ykps-gohttp">sr.ht mirror</a>)</li>
			<li><a href="//git.runxiyu.org/runxiyu/current/tooch.git">Userspace utilities and resources</a> (<a href="//git.sr.ht/~runxiyu/tooch">sr.ht mirror</a>), including:
				<ul>
					<li><code>sjauth.py</code>, network authentication script</li>
					<li><code>chphoto.py</code>, azure directory photo changer</li>
					<li>various scripts to manipulate past papers and PDFs</li>
					<li><code>memch</code>, a simple CLI for memorizing classical Chinese texts</li>
				</ul>
			</li>
			<li><a href="//git.runxiyu.org/ykps/current/mentorweb.git">PowerMentor development repository</a> (<a href="//git.sr.ht/~runxiyu/mentorweb">sr.ht mirror</a>)</li>
			<li><a href="//sr.ht/~runxiyu/ykps">Project Hub on sr.ht</a></li>
			<li>Daily Bulletin development resources are available at the Daily Bulletin homepage</li>
		</ul>
	</article>
</body>
</html>
