{# SPDX-License-Identifier: CC-BY-SA-4.0 #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Attributions for the Daily Bulletin</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1>Attributions for the Daily Bulletin</h1>
	</header>
	<article>
		<p>Thank you all! Names are sorted by surname letters.</p>
		<h2>Editors</h2>
		<ul>
			<li><a href="https://runxiyu.org/">Runxi Yu</a> is the current maintainer of the project.</li>
			<li><a href="https://albertttan.github.io">Albert Tan</a> has been the editor until June 2024, and still provides suggestions.</li>
		</ul>
		<h2>Project Founder</h2>
		<ul>
			<li>Albert Tan founded the project.</li>
		</ul>
		<h2>Designers</h2>
		<ul>
			<li>Albert Tan designed the original demo, wrote the CSS, and planned all the updates until June 2024.</li>
			<li>Runxi Yu wrote the majority of the code for the modern iteration of the Daily Bulletin and occasionally updates the page design and the CSS.</li>
			<li>An unknown person started the original primitive Daily Bulletin in or before 2022.</li>
		</ul>
		<h2>Tech Supports</h2>
		<ul>
			<li>Albert Tan wrote nearly all of the code and web pages for the project until June 2024.</li>
			<li>Runxi Yu provided key inspirations, especially on <code>eml</code> file formats in October 2023; they took over the project in June 2024 and revamped nearly all the code.</li>
			<li>ChatGPT taught us how to implement certain ideas and use certain libraries, especially <code>BeautifulSoup</code>.</li>
		</ul>
		<h2>Idea Providers</h2>
		<p>The following group had lunch together <time datetime="2023-09-11">11th September 2023</time> and made up their minds to revive the Daily Bulletin.</p>
		<ul>
			<li>Tiffany Guo</li>
			<li>Cynthia Jia</li>
			<li>Katharina Müller</li>
			<li>Albert Tan</li>
			<li>Runxi Yu</li>
			<li>Annie Zhang</li>
		</ul>
		<h2>Suggestion Givers</h2>
		<p>The following people provided valuable suggestions in different forms to improve our project.</p>
		<ul>
			<li>Mark Cole</li>
			<li>Tiffany Guo</li>
			<li>Ariel Lu</li>
			<li>Katharina Müller</li>
			<li>Aaron Wang</li>
			<li>Duncan Weller</li>
			<li>Runxi Yu</li>
		</ul>
		<h2>Inspiring Inspirers</h2>
		<p>The following people shared their inspirations to the "Daily Inspiration" section.</p>
		<ul>
			<li>Michelle Ao</li>
			<li>Stephen Eddison</li>
			<li>Rosa Luo</li>
			<li>Katharina Müller</li>
			<li>Albert Tan</li>
			<li>Runxi Yu</li>
			<li>Joey Zhang</li>
			<li>Anna Zhou</li>
			<li>Many anonymous people</li>
		</ul>

		<h2>Beta Testers</h2>
		<p>The following people received our beta tests before <time datetime="2023-11-20">20th November 2023</time>.</p>
		<ul>
			<li>Michelle Ao</li>
			<li>Ariana Cao</li>
			<li>Isabel Chang</li>
			<li>Julia Chang</li>
			<li>Cindy Chen</li>
			<li>Paul Chen</li>
			<li>Vicky Chen</li>
			<li>Mark Cole</li>
			<li>Lance Ding</li>
			<li>Stephen Eddison</li>
			<li>Tiffany Guo</li>
			<li>Eden Hua</li>
			<li>Brook Huang</li>
			<li>Chloe Ip</li>
			<li>Cynthia Jia</li>
			<li>Emily Jin</li>
			<li>Yueyao Li</li>
			<li>Ricky Liang</li>
			<li>Bell Lu</li>
			<li>Rosa Luo</li>
			<li>Luis Mao</li>
			<li>Katharina Müller</li>
			<li>Oscar Qian</li>
			<li>Albert Tan</li>
			<li>Arwen Tan</li>
			<li>Steven Varty</li>
			<li>Aaron Wang</li>
			<li>Cecilia Wang</li>
			<li>Leo Wang</li>
			<li>Duncan Weller</li>
			<li>Andrew Wu</li>
			<li>Melanie Wu</li>
			<li>Runxi Yu</li>
			<li>Paris Yuan</li>
			<li>Aaron Zhang</li>
			<li>Annie Zhang</li>
			<li>Joey Zhang</li>
			<li>Michael Zhang</li>
			<li>Azuo Zhao</li>
			<li>Anna Zhou</li>
		</ul>
		<h2>Staff Supports</h2>
		<p>The following staff members provided different forms of support to make our project possible.</p>
		<ul>
			<li>Mark Cole</li>
			<li>Stephen Eddison</li>
			<li>Steven Varty</li>
			<li>Duncan Weller</li>
		</ul>
		<h2>Past Editors</h2>
		<p>The following staff members used to maintain the original Daily Bulletin, the source of inspiration for our current project.</p>
		<ul>
			<li>Elina Ren</li>
			<li>Isabelle Wilson</li>
			<li>Cuky Zhu</li>
		</ul>
	</article>
	<footer>
		<p><a href="./">Home Page</a> · <a href="./archive/">Archive</a> · <a href="mailto:sjdb@runxiyu.org">Contact</a></p>
	</footer>
</body>
</html>
