{# SPDX-License-Identifier: CC-BY-SA-4.0 #}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Songjiang Daily Bulletin &ndash; YK Pao School</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<header>
		<h1>Songjiang Daily Bulletin &ndash; YK Pao School</h1>
	</header>
	<article>
		<h2>Information for Regular Users</h2>
		<ul>
			<li><a href="about">About</a></li>
			<li><a href="acks">Acknowledgements</a></li>
			<li><a href="mailto:sjdb@runxiyu.org">Contact <code>sjdb@runxiyu.org</code></a></li>
			<li><a href="submit">Submit a Daily Inspiration</a></li>
		</ul>
		<h2>Information for Developers</h2>
		<ul>
			<li><a href="//git.sr.ht/~runxiyu/sjdb-src">Daily Bulletin Build System</a>
			<li><a href="//git.sr.ht/~runxiyu/sjdb-build">Daily Bulletin Built Data Files</a>
			<li><a href="//git.runxiyu.org/ykps/sjdb-legacy.git">Daily Bulletin Legacy</a>
			<li><a href="//todo.sr.ht/~runxiyu/sjdb">Daily Bulletin Issue Tracker</a></li>
			<li><a href="//lists.sr.ht/~runxiyu/sjdb">Daily Bulletin Mailing List</a></li>
			<li><a href="//git.sr.ht/~runxiyu/ykps-wsgi">Source for this WSGI site</a> (<a href="//git.sr.ht/~runxiyu/ykps-wsgi">sr.ht mirror</a>)</li>
		</ul>
	</article>
</body>
</html>
