<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About the Daily Bulletin</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<header>
		<h1>About the <i>Daily Bulletin</i></h1>
	</header>
	<article>
		<h2>What is <i>Daily Bulletin</i>?</h2>
		<p>
		Daily Bulletins are bulletin boards for students and staff at the Songjiang campus of YK Pao School, which are delivered by email every school day. They contain information such as itineraries and notices, creative ideas like inspiratrions, and more delicious parts like the menu. The <i>Daily Bulletin</i> project creates and delivers these Daily Bulletins.
		</p>
		<h2>Brief History</h2>
		<p>Daily Bulletins existed long before the <i>Daily Bulletin</i> project. They have, at the very least, already been present in YK Pao School Songjiang Campus since September, 2022. An abundance of intern staffs means that the school has plenty of free labor to complete tasks like creating Daily Bulletins.</p>
		<p>In September 2023, the school finds itself out of intern staff, and we find ourselves out of Daily Bulletins. Daily Bulletins are replaced by The Week Aheads, or weekly updates of news and notices from a SharePoint PowerPoint link.</p>
		<p>The <i>Daily Bulletin</i> project, has brought the Daily Bulletins back to the campus through our project that started since late September, 2023. It was founded and ran by Albert&nbsp;Tan until June 2023. Starting from June 2023, it will be taken over by Runxi&nbsp;Yu.
		<h2>Reason for Existence</h2>
		<p>Though considered inconsequential by many, Daily Bulletins have been useful. Direct, daily delivery to email inboxes is simply too convenient for most students compared to a SharePoint PowerPoint link that takes 20 seconds to load. So we decided it would be a good idea to bring Daily Bulletins back with the Daily Bulletin project.</p>
		<h2>Methods</h2>
		<p>We use capital to replace labor. Python codes generate repetitive contents on the Bulletins for us; we only have to fill the more creative parts. In short, it is semi-automatic, and it is becoming increasingly automatic. <a href="https://git.runxiyu.org/ykps/current/sjdb-src.git/">Check out the code here.</a></p>
		<p>Of course, we cannot live without the help of students and staff. Learn more on the <a href="./acks">Acknowledgements</a> page.</p>
	</article>
	<footer>
		<p><a href="./">Home Page</a> · <a href="./arc">Archive</a> · <a href="mailto:sjdb@runxiyu.org">Contact</a></p>
	</footer>
</body>
</html>
<!-- vim: linebreak wrap
-->
