<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>418 I'm a teapot</title>
	<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
	<header>
		<h1>418 I'm a teapot</h1>
	</header>
	<article>
		<p>
		I think you know what you're doing.
		</p>
		{% if msg %}
		<p id="msg">
		{{msg}}
		</p>
		{% endif %}
		{% if error %}
		<pre id="err">{{error}}</pre>
		{% endif %}
		<p>
		{% if subproject %}
		This is probably you being funny. If this is really an error, please contact the administrator at <a href="mailto:{{subproject}}@runxiyu.org"><code>{{subproject}}@runxiyu.org</code></a> with a copy of the above information.
		{% else %}
		This is probably you being funny. If this is really an error, please contact the administrator at <a href="mailto:ykps@runxiyu.org"><code>ykps@runxiyu.org</code></a> with a copy of the above information.
		{% endif %}
		</p>
		<p>
		You are probably a technical user. You may want to view the source code of this website's backend to figure out what's going on, and file a bug report. You may check out the source code from <a href="https://git.runxiyu.org/ykps/current/ykps-wsgi.git/">upstream</a>, <a href="https://git.sr.ht/~runxiyu/ykps-wsgi">sr.ht</a>, or <a href="https://github.com/runxiyu/ykps-wsgi.git">GitHub</a>. 
		{% if subproject %}
		You may submit a bug report on the <a href="https://todo.sr.ht/~runxiyu/{{subproject}}">bug tracker</a> or discuss on the <a href="https://lists.sr.ht/~runxiyu/{{subproject}}">mailing list</a>.
		{% else %}
		You may submit a bug report on the <a href="https://todo.sr.ht/~runxiyu/ykps">bug tracker</a> or discuss on the <a href="https://lists.sr.ht/~runxiyu/ykps">mailing list</a>.
		{% endif %}
		</p>
	</article>
	<!--
	<footer>
	</footer>
	-->
</body>
</html>
<!-- vim: linebreak wrap
-->
